@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border;
        @apply m-0;
    }

    html, body, body > div:first-child, div#__next {
        @apply h-[-webkit-fill-available];
        @apply h-[-moz-available];
        @apply h-[stretch]
    }

    main {
        @apply h-full;
        @apply w-full;
        @apply my-20;
        @apply overflow-y-scroll;
    }

    li {
        @apply list-none;
    }

    svg {
        @apply w-screen;
    }
}

@layer utilities {
    .height-available {
        height: -webkit-fill-available;
        height: -moz-available;
    }
    .bg-gradient-orange {
      background: linear-gradient(
        50.99deg,
        #EF476F 0%,
        #FF9F0A 100%
      );
    }
    .bg-gradient-purple {
        background: linear-gradient(
            50.99deg,
            #5E5CE6 0%,
            #EF476F 100%
        );
    }
    .bg-gradient-yellow {
        background: linear-gradient(
            50.99deg,
            #FF9F0A 0%,
            #27A080 100%
        );
    }
    .bg-gradient-green {
        background: linear-gradient(
            50.99deg,
            #27A080 0%,
            #5E5CE6 100%
        );
    }
}